<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://www.freepnglogos.com/uploads/logo-home-png/house-logo-design-vector-real-estate-logo-photos-25.png"
        width="30" class="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="/dashboard">Research</a>
        <a class="nav-link" href="/dashboard">Projects</a>
        <a class="nav-link" href="/dashboard">About</a>
        <a class="nav-link" href="/dashboard">Contact info</a>

        <a class="nav-link" href="#">
          <img
            src="https://www.freepnglogos.com/uploads/logo-home-png/house-logo-design-vector-real-estate-logo-photos-25.png"
            class="rounded-circle" width="30">
        </a>

      </div>
    </div>
  </div>
</nav>